
.box {
    width: 80px; /* Adjusted the width to fit 8 boxes within 640px */
    height: 80px; /* Adjusted the height to fit 8 boxes within 640px */
    background-color: #fff;
    font-size: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 0.5px solid #333;
}

.black {
    background-color: #999; 
    /* No need to repeat other properties from .box */
    border: 0.5px solid #333;
}
